body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    position: relative;
}

* {
    box-sizing: border-box;
    transition: .3s;
}

/* nav */

.nav-container {
    max-width: 1280px;
    /* height: 92px; */
}

#nav-btn:hover{
    background-color: rgb(229,231,235);
    border-radius: 10%;
}

.customer {
    font-size: 30px;
    margin: 8px 4px 8px 12px;
}

.shopping-cart {
    font-size: 25px;
}
.navbar-toggler{
    padding: 16px;
    border: none;
    position: relative;
    width: 24px;
    height: 24px; 
    z-index: 999;
}

.fa-bars{
    position: absolute;
    top: 6px;
    left: 7px;
    z-index:-999;
    pointer-events: none;
}

.fa-times{
    position: absolute;
    top: 6px;
    left: 8px; 
    z-index:-999;
    pointer-events: none;
}


/* main */
.order .active {
    position: relative;
}
.order .active ::after{
    content: '';
    width: 33%;
    height: 8px;
    background-color:rgb(15, 214, 131);
    border-radius: 12px;

    position: absolute;
    right: -1%;
    top: 20px;
    transform: translateY(-50%);
    z-index: 2;
}

.order .line-a{
    position: relative;
}
.order .line-a::after{
    content: '';
    width: 63%;
    height: 8px;
    background-color:rgb(229,231,235);
    border-radius: 12px;

    position: absolute;
    right: -30%;
    top: 20px;
    transform: translateY(-50%);
}
.order .line-b{
    position: relative;
}

.order .line-b::before{
    content: '';
    width: 33%;
    height: 8px;
    background-color:rgb(229,231,235);
    border-radius: 12px;

    position: absolute;
    left: -1%;
    top: 20px;
    transform: translateY(-50%);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* footer */
footer{
    bottom: 0;
    left: 0;
}

.all-link{
    width: calc(100% - 88px);
    margin-top: 16px;
}
li{
    list-style-type:none;
}
.all-link a{
    text-decoration:none;
    color: rgb(75,85,99);
}
footer a{
    list-style-type:none;
}



/* media */
@media(min-width: 500px) {
    .shopping-car{
        max-width: 448px;
    }
    .order .active {
        position: relative;
    }
    .order .active ::after{
        width: 20%;
    }
    .order .line-a{
        position: relative;
    }
    .order .line-a::after{
        width: 40%;
        
        position: absolute;
        right: -19%;
        top: 20px;
        transform: translateY(-50%);
    }
    .order .line-b{
        position: relative;
    }
    
    .order .line-b::before{
        width: 30%;
    }
    /*  */
    .order span{
        font-size: .75rem;
        line-height: 1rem;
       text-align: center;
    }
    .navbar-brand img {
        height: 30px;
    }
    .nav-container {
        padding: 0 1rem;
    }    
    #nav-btn {
        color: black;
        padding: 8px 16px;
        margin-top: 8px;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 600;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav{
        padding-bottom: 16px;
    }
    .navbar-brand{
        padding: 16px;
        margin: 0;
    }
    .footer-up{
        align-items:center; 
    }
    .link-group1,.link-group2,.link-group3{
        margin-bottom: 40px;
    }
    .footer-down .introduce-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .company p {
        margin-bottom: 24px;
    }
}
@media(min-width: 575px) {
    .navbar-brand img {
        height: 45px;
    }   
}
@media(min-width: 640px) {
    
    .introduce-container {
        max-width: 640px;
    }
    .footer-down .introduce-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height:52px;
    }
}

@media(min-width: 768px) {
    .shopping-car{
        max-width: unset;
    }
    .navbar-brand img {
        height: 60px;
    }

    .nav-container {
        padding: 0 1.5rem;
    }
    .introduce-container {
        max-width: 768px;
    }
    .all-link{
        padding-left: 5rem; 
        margin-top: 0rem;
    }
    .link-group3{
        margin-bottom: 0px;
    }
    .company p {
        margin-bottom: 0px;
    }

    .shopping-car{
        max-width: 64rem;
    }
    .order span{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .order .active ::after{
        content: '';
        width: 33%;
        height: 8px;
        background-color:rgb(15, 214, 131);
        border-radius: 12px;
    
        position: absolute;
        right: -1%;
        top: 20px;
        transform: translateY(-50%);
        z-index: 2;
    }

    .order .line-a::after{
        content: '';
        width: 63%;
        height: 8px;
        background-color:rgb(229,231,235);
        border-radius: 12px;
    
        position: absolute;
        right: -30%;
        top: 20px;
        transform: translateY(-50%);
    }
    
    .order .line-b::before{
        content: '';
        width: 33%;
        height: 8px;
        background-color:rgb(229,231,235);
        border-radius: 12px;
    
        position: absolute;
        left: -1%;
        top: 20px;
        transform: translateY(-50%);
    }
}

@media(min-width: 992px) {
    #nav-btn {
        color: black;
        padding: 8px 16px;
        margin: 0 0 0 16px;
        font-size: .875rem;
        line-height: 2.3rem;
        font-weight: 600;
        width: unset;
        display: block;
    }
    .navbar-nav{
        padding-bottom: 0px;
    }
    .shopping-cart{
        padding: 8px 4px;
        margin-left: 8px;
    }

    .customer{
        padding: 8px 4px;
        margin-left: 16px;
    }
    .link-group1,.link-group2{
        margin-bottom: 0px;
    }
}

@media(min-width: 1024px) {
    .nav-container {
        padding: 0 2rem;;
    }
    .introduce-container {
        max-width: 1024px;
    }

    .footer-up{
        align-items:flex-start; 
    }
    .link-group1,.link-group2{
        margin-bottom: 0px;
    }
}

@media (min-width: 1280px) {
    .introduce-container {
        max-width: 1280px;
    }
}

@media (min-width:1536px) {
    .introduce-container {
        max-width: 1536px;
    }
}